.navbartop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    height: max-content;
    width: 100svw;
    display: flex;
    padding: 0 7rem;
    justify-content: space-between;
    align-items: center;
}

.logintop {
    display: flex;
    gap: 2rem;
    align-items: center;

}

.logintop a {
    text-decoration: none;
}

.logintop button {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: 1px solid #396DFB;

}

.logintop button:last-of-type {
    background-color: #396DFB;
    color: white;
}

.nav2button {
    background-color: transparent !important;
    padding: 0 !important;
    border: none !important;
    outline: none;
}

.usericon {
    display: none;

}
.loginbuttons{
    display: flex;
    gap:1.25rem;
    align-items: center;
    
}
@media screen and (width<900px) {
    .login{
        gap: 1rem;
    }
}

@media screen and (width<600px) {
    .navbartop {
        padding: 0 2rem;
    }

    .logintop {
        gap: 1.5rem;
        font-size: 12px;
        line-height: 16.8px;
        font-weight: 400;
    }

    .logotop img {
        height: 60px;
    }

    
}