@media screen and (width<=800px) {

    .back {
        position: absolute;
        top: 3rem;
        left: 1.5rem;
    }

    .verify-otp {
        max-height: 100dvh;

        justify-content: center;
        gap: 0;
    }

    .verify-otp h1 {
        font-family: Poppins;
        font-size: 23px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
        color: #3E3E3E;

    }

    .verify-otp span {
        font-family: Poppins;
        font-size: 11px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: center;
        color: #8a8a8a;
        margin-bottom: 16px;
    }

    .phone-img {
        margin-top: 50px;
        margin-bottom: 44px;
    }

    .verify-otp p {
        margin-top: 11px;
        margin-bottom: 31px;
    }

    input[type="password"] {
        border: none;
        margin-right: 5px !important;
        border-radius: 8px;
        height: 45px !important;
        width: 40px !important;
        padding: 0 !important;
        border: 1px solid #949494;
        margin-bottom: 31px;
    }

    .verify-otp button {
        margin-bottom: 100px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;

    }
}