.investmentPage {
    height: 100svh;
    padding: 5rem 0;
    width: 100svw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.investmentPage>h1 {
    font-size: 33px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color: #3e3e3e;
}

.investmentTable {
    width: 73%;
    
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: scroll;
}


.investmentTable::-webkit-scrollbar {
    display: none;
}

.investmentTable table {
    border: 1px solid #E6E6E6;
}


.investmentTable tr th {
    font-size: 16px;
    padding: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #878787;

}

.investmentTable td {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color: #3e3e3e;
    padding: 18px 50px;
}

.investmentTable tbody tr:nth-child(odd) {
    background-color: #EDF2FF;
}

.export-btn1 {
    border-radius: 7px;
    background-color: #FFF4DF;
    padding: 9px 18px;
    color: #CC9832;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

}


.export-btn2 {
    cursor: pointer;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;

    padding: 9px 18px;
    background: #DFFFDF;
    color: #32CC35;
}